html, body {
            margin: 0;
            padding: 0;
        }

        body {
            color: #292929;
            font: 90% Roboto, Arial, sans-serif;
            font-weight: 300;
        }

        p {
            padding: 0 10px;
            line-height: 1.8;
        }

        ul li {
            padding-right: 10px;
            line-height: 1.6;
            
        }

        h3 {
            padding: 5px 20px;
            margin: 0;
        }

        div#header {
            position: relative;
        }

        div#header h1 {
            height: 80px;
            line-height: 80px;
            margin: 0;
            padding-left: 10px;
            background: #245caf;
            color: #292929;
        }

        div#header a {
            position: absolute;
            right: 0;
            top: 23px;
            padding: 10px;
            color: #006;
        }

        div#skills {
            background: #a689bd;
        }

        div#skills li {
            list-style: none;
        }

	div#hobbies li {
            list-style: none;
        }

        div#hobbies {
            background: #b980ab;
        }

        div#footer {
            background: #28c4cf;
            color: #fff;
        }

        div#footer p {
            padding: 20px 10px;
        }

        div#container {
            width: 700px;
            margin: 0 auto;
        }

        div#content {
            float: left;
            width: 400px;
        }

        div#skills {
            float: right;
            width: 250px;
        }

        div#hobbies {
            float: right;
            clear: right;
            width: 250px;
          
        }

        div#footer {
            clear: both;
            width: 100%;
        }
    </style>
