
	body {
		background-color: ivory;
	}
	
	body {
		color: black;
	}
	
	h1 {
		font-size: 20px;
	}
	
	p {
		color: DarkBlue;
		font-size: 14px;
		background-color: lavender;
	}
	
	ul {
		 list-style-type: square;
	}
	
	.shadowbox {
		 width: 15em;
 		 border: dotted;
 		 box-shadow: 8px 8px 5px #444;
 		 width:  200px;
 		 height: 200px; 
}
		
 	.topcorner{
  		position:absolute;
  		top:10;
  		left:15;
}

	label {
   		padding-right: 10px;
   		font-size: 1rem;
}

	.backgroundImage {
		background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
}                
	
</style>
